body {
  font-family: "Verdana";
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

header {
  background: orange;
  height: 5vw;
  width: auto;
}


.hero-image {
  background-color: pink;
  width: 20vw;
  height: 20vw;
  position: relative;
  border-radius: 50%;
  margin: auto;
  margin-top: 10%;

}

.hero-image:hover {
  background-color: orange;
}

.hero-text {
  text-align: center;
  position: absolute;
  font-style: normal;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2vw;

}

section {
  margin-top: 24vw;
}

form {
  padding: 0 15% 15% 15%;
  width: 30%;
  margin: auto;
}

.email {
  margin-top: 4%;
}

.gender {
  margin-top: 4%;
}

.gender legend{
  margin-bottom: 6%;
  font-style: normal;
  font-size: 18px;
}

.options {
  margin-top: 4%;
}

.options input {
  margin-top: 4%;
}

.options legend {
  margin-bottom: 6%;
  font-style: normal;
  font-size: 18px;
}

.submit {
  margin-top: 4%;
  width: 38%;
}

.submit input {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.submit input:active {
  background-color: #3e8e41;
  box-shadow: 5px 5px #666;
  transform: translateY(4px);
}

input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
   background-color: pink;
   outline: none;
   border: none;
   border-radius: 3px;
   color: white;
   font-size: 1vw;
}

input:focus {
  background-color: orange;
}

.password {
  margin-top: 4%;
}
